# Stock Data Cleaning & Preliminary Analysis

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import glob

In [2]:
datasets = glob.glob("C:/Users/linwi/Documents/Stock-Prediction_Capstone/Datasets/*.csv")
datasets

['C:/Users/linwi/Documents/Stock-Prediction_Capstone/Datasets\\sp500_companies.csv',
 'C:/Users/linwi/Documents/Stock-Prediction_Capstone/Datasets\\sp500_index.csv',
 'C:/Users/linwi/Documents/Stock-Prediction_Capstone/Datasets\\sp500_stocks.csv']

In [3]:
dfs = []
for file in datasets:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file)

    # Append the DataFrame to the list
    dfs.append(df)

In [4]:
dfs #Checking if all the dataframes are in the list

[    Exchange Symbol                  Shortname  \
 0        NMS   MSFT      Microsoft Corporation
 1        NMS   AAPL                 Apple Inc.
 2        NMS   NVDA         NVIDIA Corporation
 3        NMS   AMZN           Amazon.com, Inc.
 4        NMS   GOOG              Alphabet Inc.
 ..       ...    ...                        ...
 497      NYQ   GNRC     Generac Holdlings Inc.
 498      NYQ    CMA      Comerica Incorporated
 499      NYQ    VFC           V.F. Corporation
 500      NYQ    WHR      Whirlpool Corporation
 501      NMS   ZION  Zions Bancorporation N.A.

                                        Longname                  Sector  \
 0                         Microsoft Corporation              Technology
 1                                    Apple Inc.              Technology
 2                            NVIDIA Corporation              Technology
 3                              Amazon.com, Inc.       Consumer Cyclical
 4                                 Alphabet Inc.  Communication Services
 ..                                          ...                     ...
 497                       Generac Holdings Inc.             Industrials
 498                       Comerica Incorporated      Financial Services
 499                            V.F. Corporation       Consumer Cyclical
 500                       Whirlpool Corporation       Consumer Cyclical
 501  Zions Bancorporation, National Association      Financial Services

                                Industry  Currentprice      Marketcap  \
 0             Software - Infrastructure        415.50  3087347744768
 1                  Consumer Electronics        179.66  2774291709952
 2                        Semiconductors        822.79  2056974893056
 3                       Internet Retail        178.22  1851242446848
 4        Internet Content & Information        138.08  1710397063168
 ..                                  ...           ...            ...
 497      Specialty Industrial Machinery        114.18     6881548800
 498                    Banks - Regional         49.59     6540822016
 499               Apparel Manufacturing         16.24     6314371584
 500  Furnishings, Fixtures & Appliances        106.81     5836504064
 501                    Banks - Regional         38.77     5743969792

            Ebitda  Revenuegrowth            City State        Country  \
 0    1.184270e+11          0.176         Redmond    WA  United States
 1    1.301090e+11          0.021       Cupertino    CA  United States
 2    3.448000e+10          2.653     Santa Clara    CA  United States
 3    8.551500e+10          0.139         Seattle    WA  United States
 4    1.001720e+11          0.135   Mountain View    CA  United States
 ..            ...            ...             ...   ...            ...
 497  5.532610e+08          0.014        Waukesha    WI  United States
 498           NaN         -0.220          Dallas    TX  United States
 499  1.068373e+09         -0.162          Denver    CO  United States
 500  1.477000e+09          0.034   Benton Harbor    MI  United States
 501           NaN         -0.119  Salt Lake City    UT  United States

      Fulltimeemployees                                Longbusinesssummary  \
 0             221000.0  Microsoft Corporation develops and supports so...
 1             161000.0  Apple Inc. designs, manufactures, and markets ...
 2              29600.0  NVIDIA Corporation provides graphics, and comp...
 3            1525000.0  Amazon.com, Inc. engages in the retail sale of...
 4             182502.0  Alphabet Inc. offers various products and plat...
 ..                 ...                                                ...
 497             8315.0  Generac Holdings Inc. designs, manufactures, a...
 498             7701.0  Comerica Incorporated, through its subsidiarie...
 499            19800.0  V.F. Corporation, together with its subsidiari...
 500            59000.0  Whirlpool Corporation manufactures and markets...
 501             9679.0  Zions Bancorporation, National Association pro...

        Weight
 0    0.064953
 1    0.058367
 2    0.043276
 3    0.038947
 4    0.035984
 ..        ...
 497  0.000145
 498  0.000138
 499  0.000133
 500  0.000123
 501  0.000121

 [502 rows x 16 columns],
             Date   S&P500
 0     2014-03-03  1845.73
 1     2014-03-04  1873.91
 2     2014-03-05  1873.81
 3     2014-03-06  1877.03
 4     2014-03-07  1878.04
 ...          ...      ...
 2513  2024-02-26  5069.53
 2514  2024-02-27  5078.18
 2515  2024-02-28  5069.76
 2516  2024-02-29  5096.27
 2517  2024-03-01  5137.08

 [2518 rows x 2 columns],
                Date Symbol   Adj Close       Close        High         Low  \
 0        2010-01-04    MMM   53.295380   83.019997   83.449997   82.669998
 1        2010-01-05    MMM   52.961567   82.500000   83.230003   81.699997
 2        2010-01-06    MMM   53.712662   83.669998   84.599998   83.510002
 3        2010-01-07    MMM   53.751194   83.730003   83.760002   82.120003
 4        2010-01-08    MMM   54.129951   84.320000   84.320000   83.300003
 ...             ...    ...         ...         ...         ...         ...
 1792687  2024-02-26    ZTS  197.039993  197.039993  197.990005  195.460007
 1792688  2024-02-27    ZTS  199.000000  199.000000  199.250000  194.039993
 1792689  2024-02-28    ZTS  199.940002  199.940002  200.500000  197.100006
 1792690  2024-02-29    ZTS  198.330002  198.330002  200.529999  198.190002
 1792691  2024-03-01    ZTS  190.820007  190.820007  196.229996  188.490005

                Open     Volume
 0         83.089996  3043700.0
 1         82.800003  2847000.0
 2         83.879997  5268500.0
 3         83.320000  4470100.0
 4         83.690002  3405800.0
 ...             ...        ...
 1792687  196.899994  2098500.0
 1792688  197.649994  1982500.0
 1792689  199.300003  2003300.0
 1792690  200.500000  2849200.0
 1792691  196.000000  3724300.0

 [1792692 rows x 8 columns]]

In [5]:
sp500_df = dfs[1].copy() #Slicing out the S&P500 dataframe and making a copy.

In [6]:
sp500_df

            Date   S&P500
0     2014-03-03  1845.73
1     2014-03-04  1873.91
2     2014-03-05  1873.81
3     2014-03-06  1877.03
4     2014-03-07  1878.04
...          ...      ...
2513  2024-02-26  5069.53
2514  2024-02-27  5078.18
2515  2024-02-28  5069.76
2516  2024-02-29  5096.27
2517  2024-03-01  5137.08

[2518 rows x 2 columns]

In [7]:
company_df = dfs[0].copy() #Slicing out the company dataframe and making a copy.

In [8]:
company_df

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,415.50,3087347744768,1.184270e+11,0.176,Redmond,WA,United States,221000.0,Microsoft Corporation develops and supports so...,0.064953
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,179.66,2774291709952,1.301090e+11,0.021,Cupertino,CA,United States,161000.0,"Apple Inc. designs, manufactures, and markets ...",0.058367
2,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,822.79,2056974893056,3.448000e+10,2.653,Santa Clara,CA,United States,29600.0,"NVIDIA Corporation provides graphics, and comp...",0.043276
3,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,178.22,1851242446848,8.551500e+10,0.139,Seattle,WA,United States,1525000.0,"Amazon.com, Inc. engages in the retail sale of...",0.038947
4,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,138.08,1710397063168,1.001720e+11,0.135,Mountain View,CA,United States,182502.0,Alphabet Inc. offers various products and plat...,0.035984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,NYQ,GNRC,Generac Holdlings Inc.,Generac Holdings Inc.,Industrials,Specialty Industrial Machinery,114.18,6881548800,5.532610e+08,0.014,Waukesha,WI,United States,8315.0,"Generac Holdings Inc. designs, manufactures, a...",0.000145
498,NYQ,CMA,Comerica Incorporated,Comerica Incorporated,Financial Services,Banks - Regional,49.59,6540822016,NaN,-0.220,Dallas,TX,United States,7701.0,"Comerica Incorporated, through its subsidiarie...",0.000138
499,NYQ,VFC,V.F. Corporation,V.F. Corporation,Consumer Cyclical,Apparel Manufacturing,16.24,6314371584,1.068373e+09,-0.162,Denver,CO,United States,19800.0,"V.F. Corporation, together with its subsidiari...",0.000133
500,NYQ,WHR,Whirlpool Corporation,Whirlpool Corporation,Consumer Cyclical,"Furnishings, Fixtures & Appliances",106.81,5836504064,1.477000e+09,0.034,Benton Harbor,MI,United States,59000.0,Whirlpool Corporation manufactures and markets...,0.000123
501,NMS,ZION,Zions Bancorporation N.A.,"Zions Bancorporation, National Association",Financial Services,Banks - Regional,38.77,5743969792,NaN,-0.119,Salt Lake City,UT,United States,9679.0,"Zions Bancorporation, National Association pro...",0.000121

In [9]:
stocks_df = dfs[2].copy()

In [10]:
stocks_df

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,53.295380,83.019997,83.449997,82.669998,83.089996,3043700.0
1,2010-01-05,MMM,52.961567,82.500000,83.230003,81.699997,82.800003,2847000.0
2,2010-01-06,MMM,53.712662,83.669998,84.599998,83.510002,83.879997,5268500.0
3,2010-01-07,MMM,53.751194,83.730003,83.760002,82.120003,83.320000,4470100.0
4,2010-01-08,MMM,54.129951,84.320000,84.320000,83.300003,83.690002,3405800.0
...,...,...,...,...,...,...,...,...
1792687,2024-02-26,ZTS,197.039993,197.039993,197.990005,195.460007,196.899994,2098500.0
1792688,2024-02-27,ZTS,199.000000,199.000000,199.250000,194.039993,197.649994,1982500.0
1792689,2024-02-28,ZTS,199.940002,199.940002,200.500000,197.100006,199.300003,2003300.0
1792690,2024-02-29,ZTS,198.330002,198.330002,200.529999,198.190002,200.500000,2849200.0
1792691,2024-03-01,ZTS,190.820007,190.820007,196.229996,188.490005,196.000000,3724300.0

In [12]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1792692 entries, 0 to 1792691
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Symbol     object
 2   Adj Close  float64
 3   Close      float64
 4   High       float64
 5   Low        float64
 6   Open       float64
 7   Volume     float64
dtypes: float64(6), object(2)
memory usage: 109.4+ MB

In [13]:
company_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Exchange             502 non-null    object
 1   Symbol               502 non-null    object
 2   Shortname            502 non-null    object
 3   Longname             502 non-null    object
 4   Sector               502 non-null    object
 5   Industry             502 non-null    object
 6   Currentprice         502 non-null    float64
 7   Marketcap            502 non-null    int64
 8   Ebitda               473 non-null    float64
 9   Revenuegrowth        501 non-null    float64
 10  City                 502 non-null    object
 11  State                482 non-null    object
 12  Country              502 non-null    object
 13  Fulltimeemployees    470 non-null    float64
 14  Longbusinesssummary  502 non-null    object
 15  Weight               502 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 62.9+ KB

In [14]:
sp500_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2518 non-null   object
 1   S&P500  2518 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.5+ KB