# Stock Data, Machine Learning, and Neural Networks

In [1]:
import pandas as pd 
import numpy as np

In [12]:
#Import the cleaned dataset from our Stock_api notebook and using the date as the index
data = pd.read_csv('C:/Users/linwi/Documents/Stock_test/Cleaned_Dataset/GOOG.csv',index_col = 0)

In [13]:
#Check
data.head()

               open     high     low   close  adjusted close    volume
2024-04-01  151.650  156.990  151.65  156.50          156.50  24413368
2024-03-28  152.000  152.670  151.33  152.26          152.26  21105628
2024-03-27  152.145  152.690  150.13  151.94          151.94  16621964
2024-03-26  151.240  153.200  151.03  151.70          151.70  19312694
2024-03-25  150.950  151.456  148.80  151.15          151.15  15114728

In [14]:
#Check the information of the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2520 entries, 2024-04-01 to 2014-03-27
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   open            2520 non-null   float64
 1   high            2520 non-null   float64
 2   low             2520 non-null   float64
 3   close           2520 non-null   float64
 4   adjusted close  2520 non-null   float64
 5   volume          2520 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 137.8+ KB

In [16]:
#Changng the datatype of the index to date time.
data.index = pd.to_datetime(data.index)

In [17]:
#check 
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2520 entries, 2024-04-01 to 2014-03-27
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   open            2520 non-null   float64
 1   high            2520 non-null   float64
 2   low             2520 non-null   float64
 3   close           2520 non-null   float64
 4   adjusted close  2520 non-null   float64
 5   volume          2520 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 137.8 KB

## Modeling,Visualizations, and Evaluations

### Preprocessing and Splitting the Data